body{ background:#c7d0da; font-size:12px;}

.top{ height:65px; background:#298eec;}
.footer{ height:30px; background:#298eec;width: 100%;margin-top: 20px;}
.copyright{color: #fff;font-size:14px;text-align: center;font-family: "微软雅黑", serif;padding-top: 5px;}

.logo{ float:left; line-height:65px; padding-left:15px;font-family: "微软雅黑", serif; font-size:28px; color:#fff;}
.user{float:right; color:#fff; margin-top:15px; padding-right:25px; }
.user dd:first-child{background: url(../images/user.jpg) no-repeat;width:32px;height:32px;}
.user dt{ margin-left:8px; line-height:18px;}
.user dt b{ color:#00eaff; }
.user dt a{color:#fff; padding:3px 5px;}
.user dt a:hover{background:#0c3964; color:#fff; }

.warp{ padding:15px;}
.warp_in{background:#f2f2f2 url(../images/left.jpg) repeat-y left top;box-shadow:0 5px 20px 5px #9ba2aa;}
.wrap_no_left{background:#f2f2f2;text-align: center;}
.wrap_no_left form{padding-top: 40px;clear: both;text-align: left;float: left;margin-left: 350px;margin-right: 150px;}
.wrap_no_left table{min-width: 662px;}

.main{ clear:both; padding-top:10px;}

.left{ width:200px; float:left;position:relative; z-index:5;}
.right{ margin-left:-201px;width:99%;float:left; }
.right_ineer{ margin-left:213px;text-align:left;  min-height:580px;}
.bg{ padding:12px; background:#fff; clear:both; margin-bottom:25px;margin-top: 12px;}

.sidebar{}
.left h1{ font-size:16px; text-align:center; color:#fefefe; line-height:30px; height:30px;cursor: pointer;}
.sidebar li{}
.sidebar li span,.sidebar li a{ display:block;height:37px; line-height:37px;color:#fff;}
.sidebar li span a{background:#445567 url(../images/sideBar_icon.jpg) no-repeat right top; border:1px solid #4d6377; font-weight:bold; padding-left:30px; cursor:pointer;}
.sidebar li span a:hover,.sidebar li span.sid_on a{background:#298eec url(../images/sideBar_icon.jpg) no-repeat right bottom; color:#fff;}
.sidebar li ul{ background:#f2f2f2; padding-left:30px;}
.sidebar li ul li{}
.sidebar li ul li a{ display:block; color:#464444; border-bottom:1px solid #d9d9d9; background:url(../images/icon_1.jpg) no-repeat 5px 15px; padding-left:15px;}
.sidebar li ul li a:hover,.sidebar li ul li a.on{ color:#015bb6;background:url(../images/icon_2.jpg) no-repeat 5px 15px;}

.tit_1{ height:25px; margin-bottom:10px; padding:0 8px; clear:both;}
.sys_title {background:url(../images/icon_3.jpg);width: 19px;height: 19px;float: left;margin-right: 12px;}
.tit_1 b{ color:#226cc7; font-size:16px;}
.tit_1 b,.tit_1 b img,.tit_1 b span{ display:block; float:left;}
.tit_1 div:first-child,.tit_1 div:nth-child(2){cursor: pointer}
.input_1{ border:1px solid #d6d6d6; background:#fff; line-height:22px; height:22px;}
.btn{ border:none; cursor:pointer; background:#298eec; font-size:14px; color:#fff; height:25px; line-height:25px; padding:0 8px; font-weight:bold; margin:0 8px;}

.tablelist{ border-left:1px solid #dfe2e4; border-top:1px solid #dfe2e4;table-layout: fixed;}
.tablelist a{color:#298eec}
.tablelist tr td,.tablelist tr th{border-right:1px solid #dfe2e4; border-bottom:1px solid #dfe2e4; text-align:center; word-break: break-all;}
.tablelist thead tr th{ color:#fff; font-size:14px; background:#298eec;line-height:35px;}
.tablelist tbody tr td{ padding:5px; line-height:24px; color:#6a6a6a;}
.tablelist tbody tr.odd{ background:#f7f7f7;}
.tablelist tbody tr.highlight{ background:#f7f5cb;}

.page{text-align:center; line-height:25px; color:#434343; margin-bottom:10px; clear:both;float:right;padding-right:8px;}
.page a{ color:#434343;}
.page input{text-align:center; background-color: transparent;COLOR: #000;width: 14px; HEIGHT: 14px; border: 1px solid #000;font-size: 9pt;}

.table_1{ border-left:1px solid #dfe2e4;border-top:1px solid #dfe2e4; clear:both;}
.table_1 tr th,.table_1 tr td{ border-right:1px solid #dfe2e4;border-bottom:1px solid #dfe2e4; padding:8px 12px; line-height:22px; color:#636363;}
.table_1 tr th{ color:#298eec; background:#f6f6f6; text-align:right;}
.table_1 tr:last-child th div{text-align: center;}
.table_1 div:first-child,.table_1 div:nth-child(2){cursor: pointer}
.table_1 a{color:#298eec;text-decoration: underline;}

.opt{margin-left: 15px;}
.opt div{cursor: pointer;}

.opt_add{background:url(../images/icon_add.png) no-repeat;width: 25px;height: 25px;vertical-align: middle;padding: 5px 4px 0;}
.opt_bck{background:url(../images/icon_rtn.png) no-repeat;width: 25px;height: 25px;vertical-align: middle;padding: 5px 4px 0;}
.opt_view{background:url(../images/icon_view.png) no-repeat;width: 25px;height: 25px;vertical-align: middle;padding: 5px 4px 0;}
.opt_edt{background:url(../images/icon_edt.png) no-repeat;width: 25px;height: 25px;vertical-align: middle;padding: 5px 4px 0;}
.opt_del{background:url(../images/icon_del.png) no-repeat;width: 25px;height: 25px;vertical-align: middle;padding: 5px 4px 0;}
.opt_fun{background:url(../images/icon_fun.png) no-repeat;width: 25px;height: 25px;vertical-align: middle;padding: 5px 4px 0;}
.opt_usr{background:url(../images/icon_usr.png) no-repeat;width: 25px;height: 25px;vertical-align: middle;padding: 5px 4px 0;}
.opt_reset{background:url(../images/icon_rst.png) no-repeat;width: 25px;height: 25px;vertical-align: middle;padding: 5px 4px 0;}
.opt_ok{background:url(../images/icon_ok.png) no-repeat;width: 25px;height: 25px;vertical-align: middle;padding: 5px 4px 0;}

.popup{background: #f8f8f8;}
.w_tit_1{ background:#cce7f6; font-size:14px; font-weight:bold; color:#094c84; line-height:40px; text-align:left; border-bottom:1px solid #fff;padding-left: 10px;}
.w_tit_2{ background:#e0ecf0; font-size:14px; font-weight:bold; color:#094c84; line-height:32px; text-align:left;padding-left: 10px;min-height: 300px;}
.w_bt{height:22px; margin-left:10px; background:#67bcde; border:1px solid #67bcde; color:#fff;}
.w_input{ height:20px; border:1px solid #CCC; width:100px;}
span.reNameTemp{ margin: 5px 0 0 0;}

.mb_15{ margin-bottom:10px;}
.mt_10{ margin-top:10px;}

/*权限部分css*/
.acl_main{border: #1991e0 solid 2px;height: 622px;width: 100%}
.acl_left{width: 20%;padding: 10px;}
.acl_right{width: 77%;}
.acl_cfg{width: 31%;margin-left: 5px;float: left;height: 410px;}
.acl_block{background: whitesmoke;border: #1991e0 solid 1px;padding: 5px;}
.acl_tab{width: 96%;padding: 10px;float:left;height: 420px;margin-top:5px; margin-left: 5px;}
.acl_tab_label span{margin-left:10px;}
.acl_active {text-decoration: underline;color: #1991e0;}
.h270{height: 270px;}
.h100{height: 100px;}
.h463{height: 463px;}
.h440{height: 420px;}
.h385{height: 385px;}
.h540{height:585px;}
.mt_5{margin-top: 5px;}

/*信息发布部分css*/
.cms_main{padding: 5px;}
.cms_main .title{color:dodgerblue;font-size: 16px;font-weight: 800;}
.cms_main .table_1{ border-left:1px solid #dfe2e4;border-top:1px solid #dfe2e4; clear:both;margin-top:20px;}
.p10{padding: 10px}
.mainTxtdiv{max-width: 690px;overflow: scroll;max-height: 450px;}
